<h1><%= t 'reservations.reservations' %></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <td><%= t 'reservations.reservation_number' %></td>
      <td><%= t 'reservations.start_date' %></td>
      <td><%= t 'reservations.end_date' %></td>
      <td><%= t 'reservations.name' %></td>
      <td><%= t 'reservations.rig_type' %></td>
      <td><%= t 'reservations.slides' %></td>
      <td><%= t 'reservations.length' %></td>
      <td><%= t 'reservations.space' %></td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
      <td>#</td>
    </tr>
  </tbody>
</table>
